@font-face {
    font-family: BoldFont ;
    src: url(https://dl.dropboxusercontent.com/s/b3p4y4uwkim3fr0/LINESeedJP_A_OTF_Bd.otf?dl=0);
}

@font-face {
    font-family: RegularFont ;
    src: url(https://dl.dropboxusercontent.com/s/gnes3f4xl9if7dl/LINESeedJP_A_OTF_Rg.otf?dl=0);
}

.name{
    font-family:'BoldFont';
    text-align: center;
}

.namedscprt{
    font-family:'RegularFont';
    text-align: center;
}

.Header{
    display:block;
    height: 3em;
    padding: 0 .75em;
    background-color: #000;
}

a{
    color:white;
    font-family:'BoldFont';
    font-size:2em;
    text-decoration:none;
}
