@font-face {
    font-family: BoldFont ;
    src: url(https://dl.dropboxusercontent.com/s/b3p4y4uwkim3fr0/LINESeedJP_A_OTF_Bd.otf?dl=0);
}

@font-face {
    font-family: RegularFont ;
    src: url(https://dl.dropboxusercontent.com/s/gnes3f4xl9if7dl/LINESeedJP_A_OTF_Rg.otf?dl=0);
}

.name{
    font-family:'BoldFont';
    text-align: center;
}

.namedscprt{
    font-family:'RegularFont';
    text-align: center;
}

.Header{
    display:block;
    height: 3em;
    padding: 0 .75em;
    background-color: #000;
}

a{
    color:white;
    font-family:'BoldFont';
    font-size:2em;
    text-decoration:none;
}

ul {
    padding: 0;
}

#menu {
    display: flex;
    margin: auto;
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap
}

#menu li+li {
    margin-inline-start:var(--gap)}

#menu a {
    font-size: 16px;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid
}

nav,header{
    display:block;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline-start:auto;
    margin-inline-end:auto;
    max-height: 3em;
}

.nav a {
    display: block
}

:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238)
}

.logo,#menu {
    display: flex;
}